# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
!*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MPLAB
PowerSenseModule.X\*.d
PowerSenseModule.X\*.pre
PowerSenseModule.X\*.p1
PowerSenseModule.X\*.lst
PowerSenseModule.X\*.sym
PowerSenseModule.X\*.obj
PowerSenseModule.X\*.o
PowerSenseModule.X\*.sdb
PowerSenseModule.X\*.obj.dmp
PowerSenseModule.X\html/
PowerSenseModule.X\nbproject/private/
PowerSenseModule.X\nbproject/Package-*.bash
PowerSenseModule.X\build/
PowerSenseModule.X\nbbuild/
PowerSenseModule.X\dist/
PowerSenseModule.X\nbdist/
PowerSenseModule.X\nbactions.xml
PowerSenseModule.X\nb-configuration.xml
PowerSenseModule.X\funclist
PowerSenseModule.X\nbproject/Makefile-*
PowerSenseModule.X\disassembly/
PowerSenseModule.X\*.map

#KiCAD
\Board\PowerSenseModule\fp-info-cache
Board/PowerSenseModule/fp-info-cache
